    <div>
        <h3>Форма оформления заказа</h3>
        <p>Для оформления заказа заполните следующие поля:</p>

        <form method="post">
            <table>
                <tr>
                    <td>Маршрут:</td>
                    <td><input type="text" name="Route"/></td>
                </tr>

                <tr>
                    <td>Статус выполнения:</td>
                    <td><input type="checkbox" name="iscomplite" value="true"/></td>
                </tr>

                <tr>
                    <td>Доступные автомобили:</td>
                    <td>
                        <select name="vehicleid">
                            @foreach (var vehicle in Model){
                                <option value="@vehicle.Id">Автомобиль№@vehicle.Id</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>