@model EditModel
<form asp-controller="home" asp-action="editindex" method="post">

    <div class="form-group">
        <input type="hidden" value="@Model.Order.Id" asp-for="Order.Id" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Order.Route" class="control-label">Маршрут</label>
        <input type="text" value="@Model.Order.Route" asp-for="Order.Route" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Order.IsComplite" class="control-label">Станус выполнения</label>
        <input type="checkbox" value="true" asp-for="Order.IsComplite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Order.VehicleId" class="control-label">Номер автомобиля</label>
        <select asp-for="Order.VehicleId">
            @foreach (var vehicle in Model.Vehicles){
                <option value="@vehicle.Id">автомобиль№ @vehicle.Id</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>

</form>